/*html selectors*/
html {
    scroll-behavior: smooth;
  }
body{
    padding-right:0px;
    margin-right: 0px;
    font-family: 'Montserrat', sans-serif;
}

h1{
    color:#fff;
    font-family: 'Montserrat Black', sans-serif;
    font-size:3rem;
    line-height:1.5;
    padding-top:6rem;
    transition:1s;
    text-align:left;
}
h1:hover{
    font-size:3.28rem;
}
h2{
    color:#fff;
    font-family: 'Montserrat Black', sans-serif;
    font-size:2.5rem;
    transition: 0.5s;
    text-align:center;
}
h2:hover{
    font-size:3rem;
}
h3{
    font-family: 'Montserrat Bold', sans-serif;
    font-weight: bold;
    color:#111D5E;
    transition:0.5s;
}
h3:hover{
    font-size:2rem;
}
/*class selectors*/
.pricing-title{
    color:#fff;
}
.pros{
    padding-top:3rem;
}
.fa-glass-cheers{
    color:#fff;
    width:50px;
}
.poppers{
    color: #C70039;
}
.navbar-nav{
    margin-left:auto;
}
.last-item{
    padding-right:10px;
}
.party{
    padding-top: 10%;
    width:100%;
    height: 100%;
}
.beer{
    width:80%;
    
}
.navbar-brand{
    font-size:2rem;
    font-weight:bold;
    font-family: 'Ubuntu', sans-serif;
    transition:1s;
}
.navbar-brand:hover{
    font-size:2.5rem;
    transform:rotate(-15deg);
}
.container-fluid{
    padding:3% 15%;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffe3be;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #F37121;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fa6000;
  }
.btn{
    margin:2rem 0.8rem 0 0;
}
.navbar{
    padding-bottom: 2.5rem;
}
.nav-item{
    padding:0 18px;
}
.nav-link{
    font-family: 'Montserrat light', sans-serif;
}                
.apple-btn{
    background-color:#C70039;
}
.apple-btn:hover{
    background-color:#8a0027;
}
.feature-box{
    padding:5%;
    text-align: center;
    color:#C70039;
}
.icon{
    margin-bottom:15%;
    transition:0.5s;
}
.icon:hover{
    color:#111D5E;
}
.about-us-heading{
    text-align:center;
    padding:10% 15%;
    color:#fff;
}
.about-us-content{
    padding-bottom:1%;
    color:#fff;
    text-align:right;
    transition:1s;
}
.about-us-content:hover{
    font-size:1.03rem;
}
.about-us-2{
    padding:50px;
    text-align:center;
}
.business-model{
    padding-left:15%;
    width:90%;
}
.pricing-heading{
    text-align: center;
    color:#fff;
    font-size:5rem;
    padding:2.5rem 3rem;
    padding-bottom: 5rem;
    transition: 0.5s;
}
.pricing-heading:hover{
    font-size:5.2rem;
}
.pricing-card{
    background-color:#F37121;
    border:1px solid;
    border-radius: 5px;
    width:100%;
    margin:7% 4%;
}
/* id selectors */
#title{
    background-color:#111D5E;
}
#features{
    padding:7% 15%;
}
#about-us{
    background-color:#C70039;
    padding:7% 15%;
}
#pricing{
    background-color:#111D5E;
    color:#fff;
    padding:7% 15%;
}
/*pricing css*/
section.pricing {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }
  
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
  
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }